.add-task-form {
    max-width: 500px;
    margin: auto;
    display: grid;
    border-radius: 0 0px 10px 10px;
    padding: 0.5em;
    background: white;
    box-shadow: -2px 7px 6px -5px rgba(109, 115, 114, 1);
    -webkit-box-shadow: -2px 7px 6px -5px rgba(109, 115, 114, 1);
    -moz-box-shadow: -2px 7px 6px -5px rgba(109, 115, 114, 1);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-task-form label {
    margin: 0.5em;
    font-size: 0.8em;
}

.add-task-form h1 {
    margin: 0.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1em;
    font-weight: 600;
    color: rgb(168, 223, 195);

}

.add-task-form input {
    margin: 0.5em;
    border: 1px solid rgb(168, 223, 195);
    border-radius: 5px;
    height: 2em;
    padding: 0.2em;
    box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
    -webkit-box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
    -moz-box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
}

.date-time {
    display: flex;


}

.date {
    width: 50%;

}

.time {
    width: 50%;
}

.date input {
    margin-left: 0;
    width: 100%;

}

.time input {
    margin-left: 0;
    width: 100%;

}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-action button {
    margin-left: 2em;
}

.add-buttons {
    display: flex;
    justify-content: right;
}

.assign {
    margin: 0.5em;
    border: 1px solid gray;
    height: 2.2em;
    padding: 0.2em;
    background: white;
}

.assign h1 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    border-bottom: 1px solid gray;
    cursor: pointer;

}

.close {
    display: none;
}

.dropdown {
    margin: 0.5em;
    border: 1px solid rgb(168, 223, 195);
    height: 2em;
    padding: 0.3em;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
    -webkit-box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
    -moz-box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
}

.dropdown button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    cursor: pointer;

}

.hide {
    display: none;
}

.showList {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.5em;
    border-radius: 10px;
    margin-left: -5px !important;
    border: 1px solid rgb(168, 223, 195);
    background: white;
    width: 28.5em;
    padding: 0.3em;
    box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
    -webkit-box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
    -moz-box-shadow: -2px 7px 6px -5px rgb(209, 221, 219);
}

.item {
    margin-top: 0em;
    cursor: pointer;
}

.item :hover {
    background: rgb(168, 223, 195);

}