.add-task-form {
    max-width: 500px;
    margin: auto;
    display: grid;
    border: 1px solid gray;
    padding: 0.5em;
    background: rgb(200, 227, 238);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-task-form label {
    margin: 0.5em;
}

.add-task-form input {
    margin: 0.5em;
    border: 1px solid gray;
    height: 2em;
    padding: 0.2em;
}

.date-time {
    display: flex;


}

.date {
    width: 50%;

}

.time {
    width: 50%;
}

.date input {
    margin-left: 0;
    width: 100%;

}

.time input {
    margin-left: 0;
    width: 100%;

}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-action button {
    margin-left: 2em;
}

.add-buttons {
    display: flex;
    justify-content: right;
}

.assign {
    margin: 0.5em;
    border: 1px solid gray;
    height: 2.2em;
    padding: 0.2em;
    background: white;
}

.assign h1 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    border-bottom: 1px solid gray;
    cursor: pointer;

}

.close {
    display: none;
}

.dropdown {
    margin: 0.5em;
    border: 1px solid gray;
    height: 2em;
    padding: 0.2em;
    background: white;
}

.dropdown button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;

}

.hide {
    display: none;
}

.showList {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1em;

    margin-left: -5px !important;
    border: 1px solid rgb(99, 98, 98);
    background: white;
    width: 28.5em;
    padding: 0.2em;
}

.item {
    margin-top: 0em;
}

.item :hover {
    background: rgb(200, 227, 238);
}