.loader-element {


    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-element h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    color: rgb(43, 41, 41);
    margin: 0;
}

.loader-box {
    display: flex;
    justify-content: space-evenly;
}

.loader-box-1 {
    width: 20px;
    height: 20px;
    background-color: rgb(43, 41, 41);
    margin-top: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    animation-name: loader;
    animation-duration: 4s;
}

.loader-box-2 {
    width: 20px;
    height: 20px;
    background-color: rgb(43, 41, 41);
    margin-top: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    animation-name: loader;
    animation-duration: 4s;
    animation-delay: 4s;
}

.loader-box-3 {
    width: 20px;
    height: 20px;
    background-color: rgb(43, 41, 41);
    margin-top: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    animation-name: loader;
    animation-duration: 4s;
    animation-delay: 8s;
}

@keyframes loader {
    from {
        background-color: rgb(43, 41, 41);
    }

    to {
        background-color: white;
    }

}

.loader {
    border: 1em solid #f3f3f3;
    border-radius: 50%;
    border-top: 1em solid #1e1f20;
    width: 0.8em;
    height: 0.8em;
    margin: auto;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}